<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Cosmic book</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/browse">Browse</a>
                </li>
            </ul>
            <form class="d-flex position-relative" (submit)="onSearch()">
                <input class="form-control me-2" type="search" placeholder="Search" [(ngModel)]="searchTerm" name="search">
                <button class="btn btn-outline-success" type="submit">Search</button>
                <div *ngIf="isSearchPopupOpen" class="search-popup">
                    <div *ngIf="searchResults.length > 0" class="search-results">
                        <div *ngFor="let result of searchResults" class="search-result">
                            {{ result.title }}
                            <button class="btn btn-primary ml-4" (click)="goToDetailsPage(result.id)">Read More</button>
                        </div>
                    </div>
                    <div (click)="closeSearchPopup()" class="overlay"></div>
                </div>
            </form>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/write">Write</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Log in</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
