.signup-container {
    text-align: center;
    background-color: #1a1a1a;
    color: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
    margin: 3rem auto;
}

.signup-container h1 {
    margin: 0;
    font-size: 36px;
}

.signup-container p {
    margin-top: 10px;
    margin-bottom: 40px;
}

.google-signup {
    background-color: #4285f4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

.or-divider {
    margin-bottom: 20px;
}

.or-divider span {
    display: inline-block;
    padding: 0 10px;
    font-size: 18px;
}

.main-box-int{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.terms-and-newsletter {
    text-align: left;
    margin-bottom: 20px;
}

.signup-form button {
    width: 100%;
    background-color: #009688;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.login-link {
    margin-top: 20px;
    font-size: 14px;
}

.login-link a {
    color: #009688;
    text-decoration: none;
}
label{
    display: flex;
}
.check-box{
    width: 20px;
}