<div class="signup-container">
    <h1>neovel</h1>
    <p>living stories together.</p>
    <button class="google-signup">Sign up with Google</button>
    <div class="or-divider">
        <span>OR</span>
    </div>
    <form class="signup-form">
        <input class="main-box-int" type="text" placeholder="Your pseudonym">
        <input class="main-box-int" type="email" placeholder="Email">
        <input class="main-box-int" type="password" placeholder="Password">
        <div class="terms-and-newsletter">
            <label><input type="checkbox" class="check-box">&nbsp; I read and agree to the <a href="#">&nbsp;terms and conditions</a></label>
            <label><input type="checkbox" class="check-box">&nbsp; I want to subscribe to Neovel's newsletter</label>
        </div>
        <button type="submit">Sign Up</button>
    </form>
    <div class="login-link">Already have an account? <a href="/login">Log in</a></div>
</div>