<app-header></app-header>
<div class="slider-container">
    <div class="slider">
        <div class="slide">
            <img src="../../../assets/banner1.jpg" alt="Slide 1">

        </div>
        <div class="slide">
            <img src="../../../assets/banner2.jpg" alt="Slide 1">

        </div>
        <div class="slide">
            <img src="../../../assets/banner1.jpg" alt="Slide 1">

        </div>
        <div class="slide">
            <img src="../../../assets/banner2.jpg" alt="Slide 1">

        </div>
    </div>
    <div class="controls">
        <div class="prev">&#10094;</div>
        <div class="next">&#10095;</div>
    </div>
</div>

<!-- For the reading materials -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="fav-genres">Headliners</h1>
            <div class="cards-container">
                <div class="card" *ngFor="let book of books">
                    <a [routerLink]="'/read/' + book.id">
                        <img [src]="book.coverImage" class="card-img-top" alt="{{ book.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ book.title }}</h5>
                            <p class="card-text">{{ book.genre }}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Top of my favorite genres -->
<div class="container">
    <h1 class="fav-genres">Top of my favorite genres</h1>
    <div class="row">
        <div class="col-md-3">
            <h2>Romance</h2>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let rom of romance">
                    <a [routerLink]="'/read/romance/' + rom.id">
                        <div class="row">
                            <div class="col-md-3">
                                <img [src]="rom.coverImage" alt="Book Cover" class="book-cover">
                            </div>
                            <div class="col-md-9">
                                <p>{{ rom.title }}</p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Fantasy</h2>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let fant of fantasy">
                    <a [routerLink]="'/read/fantasy/' + fant.id">
                        <div class="row">
                            <div class="col-md-3">
                                <img [src]="fant.coverImage" alt="Book Cover" class="book-cover">
                            </div>
                            <div class="col-md-9">
                                <p>{{ fant.title }}</p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Action</h2>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let act of action">
                    <a [routerLink]="'/read/fantasy/' + act.id">
                        <div class="row">
                            <div class="col-md-3">
                                <img [src]="act.coverImage" alt="Book Cover" class="book-cover">
                            </div>
                            <div class="col-md-9">
                                <p>{{ act.title }}</p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Adventure</h2>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let adv of adventure">
                    <a [routerLink]="'/read/fantasy/' + adv.id">
                        <div class="row">
                            <div class="col-md-3">
                                <img [src]="adv.coverImage" alt="Book Cover" class="book-cover">
                            </div>
                            <div class="col-md-9">
                                <p>{{ adv.title }}</p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>