<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Cosmic book</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Browse</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search..." aria-label="Search" />
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Write</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Log in</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="slider-container">
    <div class="slider">
        <div class="slide">
            <img src="../../../assets/banner1.jpg" alt="Slide 1">

        </div>
        <div class="slide">
            <img src="../../../assets/banner2.jpg" alt="Slide 1">

        </div>
        <div class="slide">
            <img src="../../../assets/banner1.jpg" alt="Slide 1">

        </div>
        <div class="slide">
            <img src="../../../assets/banner2.jpg" alt="Slide 1">

        </div>
    </div>
    <div class="controls">
        <div class="prev">&#10094;</div>
        <div class="next">&#10095;</div>
    </div>
</div>

<!-- For the reading materials -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="fav-genres">Headliners</h1>
            <div class="cards-container">
                <div class="card">
                    <img src="https://neovel.io/V2/book/image?bookId=9142&oldApp=false&imageExtension=0"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">The Billionaire's Unauthentic Daughter</h5>
                        <p class="card-text">Romance</p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://neovel.io/V2/book/image?bookId=6011&oldApp=false&imageExtension=0"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Forge of Destiny</h5>
                        <p class="card-text">Fantasy</p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://neovel.io/V2/book/image?bookId=10685&oldApp=false&imageExtension=0"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">The Overwoods.</h5>
                        <p class="card-text">Action</p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://neovel.io/V2/book/image?bookId=9053&oldApp=false&imageExtension=0"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Something Between Us</h5>
                        <p class="card-text">Youth literature</p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://neovel.io/V2/book/image?bookId=8549&oldApp=false&imageExtension=0"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Devil's Triangle</h5>
                        <p class="card-text">Adventure</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Favourite sec -->
<div class="container">
    <h1 class="fav-genres">Top of my favorite genres</h1>
    <div class="row">
        <div class="col-md-3">
            <h2>Fantasy</h2>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge bg-primary">1</span>
                    <img src="https://neovel.io/V2/book/image?bookId=9053&oldApp=false&imageExtension=0"
                        alt="Book Cover" class="book-cover">
                    The First Mage - Magic, Elemental Magic
                </li>
                <li class="list-group-item">
                    <span class="badge bg-primary">2</span>
                    <img src="https://neovel.io/V2/book/image?bookId=9053&oldApp=false&imageExtension=0"
                        alt="Book Cover" class="book-cover">
                    Rest in a Demon's Embrace - Alchemy, Absent Parents
                </li>
                <li class="list-group-item">
                    <span class="badge bg-primary">3</span>
                    <img src="https://neovel.io/V2/book/image?bookId=9053&oldApp=false&imageExtension=0"
                        alt="Book Cover" class="book-cover">
                    The First Mage - Magic, Elemental Magic
                </li>
                <li class="list-group-item">
                    <span class="badge bg-primary">4</span>
                    <img src="https://neovel.io/V2/book/image?bookId=9053&oldApp=false&imageExtension=0"
                        alt="Book Cover" class="book-cover">
                    Rest in a Demon's Embrace - Alchemy, Absent Parents
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Romance</h2>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge bg-primary">1</span>
                    <img src="https://neovel.io/V2/book/image?bookId=9053&oldApp=false&imageExtension=0"
                        alt="Book Cover" class="book-cover">
                    Accidentally Married - Marriage of Convenience, ...
                </li>
                <li class="list-group-item">
                    <span class="badge bg-primary">2</span>
                    <img src="https://neovel.io/V2/book/image?bookId=9053&oldApp=false&imageExtension=0"
                        alt="Book Cover" class="book-cover">
                    The Billionaire's Unauthentic Daughter - Clones, Bullying
                </li>
                <li class="list-group-item">
                    <span class="badge bg-primary">3</span>
                    <img src="https://neovel.io/V2/book/image?bookId=9053&oldApp=false&imageExtension=0"
                        alt="Book Cover" class="book-cover">
                    Accidentally Married - Marriage of Convenience, ...
                </li>
                <li class="list-group-item">
                    <span class="badge bg-primary">4</span>
                    <img src="https://neovel.io/V2/book/image?bookId=9053&oldApp=false&imageExtension=0"
                        alt="Book Cover" class="book-cover">
                    The Billionaire's Unauthentic Daughter - Clones, Bullying
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Action</h2>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge bg-primary">1</span>
                    <img src="https://neovel.io/V2/book/image?bookId=9053&oldApp=false&imageExtension=0"
                        alt="Book Cover" class="book-cover">
                    These Boys' Lives - Abusive Characters, Strong...
                </li>
                <li class="list-group-item">
                    <span class="badge bg-primary">2</span>
                    <img src="https://neovel.io/V2/book/image?bookId=9053&oldApp=false&imageExtension=0"
                        alt="Book Cover" class="book-cover">
                    The Overwoods. - Psychological, Murder
                </li>
                <li class="list-group-item">
                    <span class="badge bg-primary">3</span>
                    <img src="https://neovel.io/V2/book/image?bookId=9053&oldApp=false&imageExtension=0"
                        alt="Book Cover" class="book-cover">
                    These Boys' Lives - Abusive Characters, Strong...
                </li>
                <li class="list-group-item">
                    <span class="badge bg-primary">4</span>
                    <img src="https://neovel.io/V2/book/image?bookId=9053&oldApp=false&imageExtension=0"
                        alt="Book Cover" class="book-cover">
                    The Overwoods. - Psychological, Murder
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Adventure</h2>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge bg-primary">1</span>
                    <img src="https://neovel.io/V2/book/image?bookId=9053&oldApp=false&imageExtension=0"
                        alt="Book Cover" class="book-cover">
                    The Knightly Elven... Spider? - Gore, Strong language
                </li>
                <li class="list-group-item">
                    <span class="badge bg-primary">2</span>
                    <img src="https://neovel.io/V2/book/image?bookId=9053&oldApp=false&imageExtension=0"
                        alt="Book Cover" class="book-cover">
                    Whispers of Fate - Technology, Fated Lovers
                </li>
                <li class="list-group-item">
                    <span class="badge bg-primary">3</span>
                    <img src="https://neovel.io/V2/book/image?bookId=9053&oldApp=false&imageExtension=0"
                        alt="Book Cover" class="book-cover">
                    The Knightly Elven... Spider? - Gore, Strong language
                </li>
                <li class="list-group-item">
                    <span class="badge bg-primary">4</span>
                    <img src="https://neovel.io/V2/book/image?bookId=9053&oldApp=false&imageExtension=0"
                        alt="Book Cover" class="book-cover">
                    Whispers of Fate - Technology, Fated Lovers
                </li>
            </ul>
        </div>
    </div>
</div>