a {
    text-decoration: none;
    color: black;
}

.slider-container {
    position: relative;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: auto;
}

.slide-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
}

.controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.prev,
.next {
    font-size: 30px;
    cursor: pointer;
    color: white;
}

/* For desktop */
.cards-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.card {
    width: 18rem;
    margin-right: 10px;
}

.card:last-child {
    margin-right: 0;
}

.card img {
    height: 300px;
    object-fit: cover;
}

.list-group-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
}

.book-cover {
    width: 50px;
    height: auto;
    margin-right: 10px;
    border-radius: 5px;
}

.badge {
    margin-right: 10px;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: white;
    padding: 1rem;
}

.container {
    margin-top: 50px;
}

.fav-genres {
    padding: 2rem;
    color: wheat;
}

.browser{
    color: white;
}

.browser-cont{
    background-color:#16374a ;
    height: 42vh;
    padding: 4rem;
    margin-top: 11rem;
}

.card-main{
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.box-area{
    background-color: #112631;
    padding: 2rem;
    border: solid 1px;
    margin-left: 2rem;
    margin-right: 2rem;
}
p{
    color: white;

}
.card-cont{
    margin-top: 10rem;
}

/* For mobile */
@media (max-width: 767px) {
    .cards-container {
        flex-wrap: wrap;
        justify-content: center;
        overflow-x: visible;
    }

    .card {
        margin-right: 0;
        margin-bottom: 20px;
        width: 80%;
    }
}


.trendy-slider {
    overflow: hidden;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.book-card {
    width: 250px;
    margin-right: 20px;
}

.book-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.book-details {
    padding: 10px;
    background-color: #f8f9fa;
}

.book-details h3 {
    margin-top: 0;
    font-size: 18px;
}

.book-details p {
    margin-bottom: 5px;
    font-size: 14px;
}

.book-details .btn-primary {
    display: block;
    width: 100%;
}
