.newsletter {
    max-width: 400px;
    margin: auto;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.newsletter h2 {
    margin-bottom: 20px;
    color: white;
}

.newsletter-form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #eeecec;
    border-radius: 5px;
}

.newsletter-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.newsletter-form button:hover {
    background-color: #0056b3;
}
